/* You can also use a @include clear to clear columns */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\0000326}}
.events-calendar {
  background-color: #e8ebed;
  border: 1px solid #CFCFCF; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\0000330}}
  .events-calendar br {
    display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\0000331}}
  .events-calendar li {
    list-style: none !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\0000332}}
  .events-calendar + #categories {
    margin-top: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\0000334}}
  .events-calendar thead > tr > th,
  .events-calendar tbody > tr > td {
    border: none;
    padding: 5px 3px;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\0000339}}
    .events-calendar thead > tr > th span,
    .events-calendar tbody > tr > td span {
      text-align: left;
      display: block;
      padding: 0 0 0 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\0000346}}
  .events-calendar tbody > tr > td {
    padding: 0;
    height: 120px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 14.285%;
    vertical-align: top; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\0000353}}
    .events-calendar tbody > tr > td a {
      text-decoration: none;
      display: block;
      padding: 8px;
      margin: 1px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\0000362}}
  .events-calendar .header-days {
    text-transform: uppercase;
    font-size: 13px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\0000367}}
  .events-calendar .header-nav {
    background-color: #2B59B2; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\0000370}}
    .events-calendar .header-nav a {
      color: #FFF;
      text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\0000377}}
  .events-calendar .nav-selected-day a {
    background-color: #C5283C;
    color: white;
    font-size: 12px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\0000381}}
    .events-calendar .nav-selected-day a:hover {
      text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\0000390}}
.event-listing {
  margin-bottom: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\0000393}}
  .event-listing li {
    list-style: none !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\0000394}}
  .event-listing .media-object {
    margin-right: .5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\0000397}}
  .event-listing .event-day {
    margin-right: 10px;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\00003101}}
    .event-listing .event-day .day {
      border: solid 1px #f5f5f5;
      border-top: none;
      display: block;
      font-size: 26px;
      font-weight: bold;
      padding: 0 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\00003111}}
    .event-listing .event-day .month {
      background-color: #C5283C;
      color: #FFF;
      display: block;
      font-size: 13px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\00003120}}
  .event-listing .media {
    border: none;
    padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\00003125}}
    .event-listing .media ~ .media {
      margin-top: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\00003127}}
    .event-listing .media .date-day {
      margin-left: .5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\00003130}}
  .event-listing .post-info {
    color: #A8ABB0;
    font-size: 13px;
    margin-bottom: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\00003136}}
    .event-listing .post-info span:before {
      content: " | ";
      color: #f5f5f5;
      margin: 0 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\00003144}}
  .event-listing .summary p ~ p {
    margin: 0.6em 0 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\00003147}}
.events-nav {
  position: relative;
  padding-bottom: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\00003151}}
  .events-nav .event-period {
    text-align: center;
    line-height: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\00003156}}
  .events-nav .previous, .events-nav .next {
    position: absolute;
    top: 0;
    white-space: nowrap; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\00003161}}
  .events-nav .previous {
    left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\00003162}}
  .events-nav .next {
    right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\00003165}}
.events-ongoing {
  border-bottom: dotted 1px #f5f5f5;
  border-top: dotted 1px #f5f5f5;
  margin-bottom: 20px;
  padding: 20px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\00003171}}
  .events-ongoing li {
    list-style: none !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\00003172}}
  .events-ongoing br {
    display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\00003178}}
  .events-ongoing h4 {
    margin-top: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\00003182}}
  .events-ongoing ul {
    margin: 0;
    padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\0000322}}
    .events-ongoing ul > li {
      list-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\00003185}}
    .events-ongoing ul li {
      border-left: solid 3px #f5f5f5;
      padding-left: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\00003189}}
      .events-ongoing ul li ~ li {
        padding-top: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\00003192}}
    .events-ongoing ul a {
      font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\00003195}}
  .events-ongoing time {
    font-size: 13px;
    color: #52606B; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\00003205}}
.event-detail-add-this {
  margin: 7px 10px 0 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\00003209}}
.event-detail-actions {
  float: right;
  margin-top: 21px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\00003218}}
.event-detail-meta {
  border-bottom: solid 1px #f5f5f5; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\00003221}}
  .event-detail-meta .item-line {
    border-top: solid 1px #f5f5f5;
    padding: 10px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\00003227}}
.event-detail-title {
  margin-top: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\00003235}}
.events-related {
  border-top: dashed 1px #f5f5f5;
  margin-top: 50px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\00003239}}
  .events-related h3 {
    margin-top: 1.2em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\00003240}}
  .events-related .media {
    border-bottom: dashed 1px #f5f5f5; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\00003243}}
.related-events-title {
  margin: 10px 0 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\00003246}}
.pager > a,
.pager > span {
  text-decoration: none;
  display: inline-block;
  padding: 5px 14px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\00003255}}
  .pager > a:hover,
  .pager > span:hover {
    background: #EEE; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\00003257}}
.media-list {
  margin-left: 0 !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\00003260}}
  .media-list .media {
    overflow: hidden;
    margin-left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\00003264}}
  .media-list .media-heading a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\00003269}}
  .media-list .date-badge {
    background: #fff;
    box-shadow: 0 0 0 1px #f5f5f5;
    border: 1px solid #f5f5f5;
    width: 150px;
    margin-top: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\00003276}}
  .media-list .date-badge .date-month {
    display: block;
    background: #c5283c;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/calendar\.scss}line{font-family:\00003285}}
  .media-list .date-badge .date-day {
    display: block;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    padding: 20px 10px;
    color: #52606b;
    text-decoration: none; }
