/* You can also use a @include clear to clear columns */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/locations\.scss}line{font-family:\000034}}
#map {
  min-height: 300px;
  box-shadow: none; }
  @media only screen and (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/locations\.scss}line{font-family:\000034}}
    #map {
      display: none !important; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/locations\.scss}line{font-family:\0000310}}
form.findBranch {
  padding: 0 0 2em;
  text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/locations\.scss}line{font-family:\0000313}}
  form.findBranch label {
    display: inline-block;
    padding: 0 1em 0 0;
    font-weight: normal;
    font-size: 100%;
    color: #222; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/locations\.scss}line{font-family:\0000320}}
  form.findBranch input[type=text], form.findBranch input[type="submit"] {
    display: inline-block;
    vertical-align: middle;
    max-width: 180px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/locations\.scss}line{font-family:\0000325}}
  form.findBranch input[type="submit"] {
    -webkit-appearance: none;
    border-radius: 0;
    background: none;
    box-shadow: none;
    border: none;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    background: #003876;
    box-shadow: none;
    border-radius: 0;
    min-height: 30px;
    padding: 12px 30px 13px;
    margin: 5px 0 0;
    max-width: 245px;
    border: 0;
    color: #fff;
    font-family: "Droid Serif", Georgia, Times, serif;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: normal;
    font-style: normal;
    text-transform: none;
    font-size: 14px;
    font-size: 1.4rem;
    padding: 10px 25px;
    line-height: 1.3;
    margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/_mixins\.scss}line{font-family:\00003182}}
    form.findBranch input[type="submit"]:hover {
      background: #2054b8;
      color: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/locations\.scss}line{font-family:\0000336}}
#locList {
  padding: 2em 0;
  margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/locations\.scss}line{font-family:\0000339}}
  #locList > li {
    padding: 0;
    margin: 0;
    overflow: hidden;
    min-height: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/locations\.scss}line{font-family:\0000346}}
    #locList > li .branchName {
      position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/locations\.scss}line{font-family:\0000349}}
      #locList > li .branchName .branch-title {
        vertical-align: middle;
        display: inline-block;
        margin-left: 20px;
        width: calc(100% - 80px);
        border-bottom: 1px solid #ccd6d9;
        padding: 2px 150px 2px 0;
        line-height: 1.25; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/locations\.scss}line{font-family:\0000359}}
      #locList > li .branchName .hasATM, #locList > li .branchName .seeMap, #locList > li .branchName .distance {
        float: right;
        font-family: "Droid Serif", Georgia, Times, serif;
        font-size: 16px;
        font-size: 1.6rem;
        font-weight: 400;
        font-style: normal;
        text-transform: none;
        color: #222;
        margin-right: 0;
        position: absolute;
        top: 16px;
        right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/locations\.scss}line{font-family:\0000371}}
      #locList > li .branchName .seeMap i {
        color: #a32128; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/locations\.scss}line{font-family:\0000373}}
      #locList > li .branchName .seeMap:hover i {
        color: #f5212c; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/locations\.scss}line{font-family:\0000377}}
      #locList > li .branchName a {
        color: #fff;
        text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/locations\.scss}line{font-family:\0000379}}
      #locList > li .branchName .distance {
        font-style: italic;
        right: 88px;
        font-size: 15px;
        font-size: 1.5rem;
        top: 17px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/locations\.scss}line{font-family:\0000384}}
        #locList > li .branchName .distance:empty {
          display: none; }
      @media only screen and (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/locations\.scss}line{font-family:\0000394}}
        #locList > li .branchName .branch-title {
          padding-right: 60px;
          width: calc(100% - 55px); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/locations\.scss}line{font-family:\0000399}}
        #locList > li .branchName .distance {
          font-size: 13px;
          font-size: 1.3rem;
          top: 6px;
          right: 0; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/locations\.scss}line{font-family:\00003108}}
    #locList > li .branchInfo {
      display: none;
      padding: 0 0 40px 80px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/_mixins\.scss}line{font-family:\0000346}}
      #locList > li .branchInfo:after {
        content: "";
        display: block;
        height: 0;
        clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/locations\.scss}line{font-family:\00003112}}
      #locList > li .branchInfo > div {
        padding: 0 10px 0 0;
        display: inline-block;
        width: 40%;
        vertical-align: top;
        font-size: 14px;
        font-size: 1.4rem;
        line-height: 1.5; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/locations\.scss}line{font-family:\00003119}}
        #locList > li .branchInfo > div.hours {
          width: 60%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/locations\.scss}line{font-family:\00003121}}
          #locList > li .branchInfo > div.hours > div {
            width: 50%;
            display: inline-block;
            vertical-align: top; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/locations\.scss}line{font-family:\00003126}}
            #locList > li .branchInfo > div.hours > div .label {
              font-weight: normal;
              display: block;
              width: 90px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/locations\.scss}line{font-family:\00003132}}
            #locList > li .branchInfo > div.hours > div > div {
              padding-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/locations\.scss}line{font-family:\00003136}}
        #locList > li .branchInfo > div a {
          text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/locations\.scss}line{font-family:\00003140}}
      #locList > li .branchInfo .branchImage + .contact-info + .hours {
        width: 33%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/locations\.scss}line{font-family:\00003142}}
        #locList > li .branchInfo .branchImage + .contact-info + .hours > div {
          width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/locations\.scss}line{font-family:\00003142}}
          #locList > li .branchInfo .branchImage + .contact-info + .hours > div + div {
            margin-top: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/locations\.scss}line{font-family:\00003145}}
      #locList > li .branchInfo .address a {
        display: block;
        margin-top: 25px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/locations\.scss}line{font-family:\00003147}}
      #locList > li .branchInfo .contact {
        padding-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/locations\.scss}line{font-family:\00003148}}
        #locList > li .branchInfo .contact:empty {
          display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/locations\.scss}line{font-family:\00003150}}
        #locList > li .branchInfo .contact > div {
          padding-bottom: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/locations\.scss}line{font-family:\00003153}}
      #locList > li .branchInfo h5 {
        margin: 0;
        padding: 0;
        font-size: 14px;
        font-size: 1.4rem;
        font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/locations\.scss}line{font-family:\00003155}}
      #locList > li .branchInfo .label {
        display: inline-block;
        font-weight: bold;
        padding-right: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/locations\.scss}line{font-family:\00003161}}
      #locList > li .branchInfo .value {
        display: inline-block; }
      @media only screen and (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/locations\.scss}line{font-family:\00003108}}
        #locList > li .branchInfo {
          padding: 0 0 20px 55px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/locations\.scss}line{font-family:\00003167}}
          #locList > li .branchInfo .address a {
            margin-top: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/locations\.scss}line{font-family:\00003168}}
          #locList > li .branchInfo > div, #locList > li .branchInfo > div.hours, #locList > li .branchInfo > div.hours > div, #locList > li .branchInfo .branchImage + .contact-info + .hours {
            width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/locations\.scss}line{font-family:\00003169}}
          #locList > li .branchInfo > div.hours {
            margin-top: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/locations\.scss}line{font-family:\00003170}}
          #locList > li .branchInfo > div.hours > div {
            margin-top: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/locations\.scss}line{font-family:\00003171}}
          #locList > li .branchInfo > div.hours > div:first-of-type {
            margin-top: 0; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/locations\.scss}line{font-family:\00003176}}
    #locList > li[data-type='ATM'] .hours {
      display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/locations\.scss}line{font-family:\00003181}}
  #locList .seeMap,
  #locList .getDirections {
    display: block; }
  @media only screen and (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/locations\.scss}line{font-family:\00003186}}
    #locList .seeMap {
      display: none; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jake\.unruh\/svn-dotcms\.bvops\.net\/abt\.bank\/application\/assets\/scss\/locations\.scss}line{font-family:\00003192}}
.mapInfoWindow {
  line-height: 1.2;
  white-space: nowrap; }
